{% extends "template_base.html" %} {% load i18n %} {% block head_title %}{%
trans "Sign Out" %}{% endblock %} {% block content %}
<style>
    body {
        background: url('/media/presentation.jpg') no-repeat center fixed;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    h1 {
        color: #fff;
        text-align: center;
        margin-top: 10px;
        font-size: 3em;
        font-weight: bold;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    }

    .container {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 30px;
        border-radius: 15px;
        max-width: 600px;
        margin: 0 auto;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    }
</style>
<div class="container mt-5">
    <div class="row mt-auto">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Sign Out" %}</h3>

            <p>{% trans 'Are you sure you want to sign out?' %}</p>
        </div>

        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %} {% if redirect_field_value %}
                    <input
                        type="hidden"
                        name="{{ redirect_field_name }}"
                        value="{{ redirect_field_value }}"
                    />
                    {% endif %}
                    <button
                        class="btn btn-primary btn-signup right"
                        type="submit"
                    >
                        {% trans 'Sign Out' %}
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
</div>
