html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
}

footer {
    padding: 20px;
}

footer a {
    margin-right: 15px;
    color: white;
    font-size: 1.5em;
}

.navbar-other,
.navbar-home,
footer {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
}
