{% extends 'template_base.html' %}
{% load static %}
{% block content %}
<!-- Menu Detail Page -->
<div class="container menu-detail-page my-5 text-white">
    <div class="row white-smoke">
        <!-- Menu image section -->
        <div class="col-md-6 p-0">
            <img src="{{ menu.image.url }}" alt="{{ menu.title }}" class="img-fluid rounded-start shadow" />
        </div>
        <!-- Menu content section -->
        <div class="col-md-6 d-flex flex-column justify-content-center text-center black-transparent-article">
            <h1 class="display-4">{{ menu.title }}</h1>
            <p class="lead">{{ menu.content }}</p>
        </div>
        <!-- Price display -->
        <div class="text-center mt-5">
            <p class="h4 text-white">${{ menu.price }}</p>
        </div>
    </div>
</div>
{% endblock %}
