{% extends 'template_base.html' %} {% load static %} {% block content %}
<style>
    html,
    body {
        background: url('/media/home_page.jpg') no-repeat center fixed;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

</style>

<main class="px-3 text-start ms-5 mt-5 h-100">
    <h1 class="display-1 text-white">Let's <span>enjoy</span>.</h1>
    <p class="lead fw-bolder w-25 text-white">
        We bring over 30 years industry experience and passion to Moroc. With
        dishes that are carefully designed to bring you a truly satisfying
        Moroccan food experience that you are sure to remember.
    </p>
    <p class="lead">
        <a
            href="{% url 'reservations:reservations' %}"
            class="fs-3 fw-bold text-white btn btn-primary"
        >

            MAKE A RESERVATION
        </a>
    </p>
</main>

{% endblock %}
