{% extends 'template_base.html' %} {% load static %} {% block content %}
<style>
    html,
    body {
        background: url('/media/home_page.jpg') no-repeat center fixed;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    
</style>

<main class="px-3 text-start text-white mt-5 h-100">
    <h1 class="display-1">Let's <span class="text-warning">enjoy</span>.</h1>
    <p class="lead fw-bolder">
        We love sharing good food with great people. We bring over 30 years
        industry experience and passion to Moroc. With a dishes that are
        carefully designed to bring you a truly satisfying Moroccan food
        experience that you are sure to remember.
    </p>
    <p class="lead">
        <a href="{% url 'reservations:reservations' %}" class="text-white">
            MAKE A RESERVATION
        </a>
    </p>
</main>

{% endblock %}
